.Rproj.user
.Rhistory
.RData
.Ruserdata
A very short introduction to Risk Management.pdf
.gitignore
Problem2set2.xlsx
.DS_Store
.gitignore
Problem1set2.xlsx
Reference Material/Quantitative Risk Management- Concepts, Techniques and Tools -- Alexander J_ McNeil, Rüdiger Frey, Paul Embrechts -- Princeton series in finance.pdf
Reference Material/Hans Föllmer, Alexander Schied - Stochastic Finance_ An Introduction in Discrete Time (2016, de Gruyter).pdf
